
** Este equipo pertenece al laboratorio del curso de
** {{ curso }}.

** Si usted esta siguiendo al instructor {{ instructor }}
** Entonces ponga en practica lo aprendido

***
** {{ ansible_hostname }}
** {{ ansible_default_ipv4.address }}
****
